body, html {
  font-size: 14px;
  font-family: OpenSans;
}

.active {
  color: #399bd1 !important;
}

.image-container img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  overflow: auto;
}

/* jumbotron */
.jumbotron {
  text-align: center;
  color: white;
}

.jumbotron-bike {
  background: url("../images/jumbotron-bike.jpg");
}

.jumbotron h1 {
  font-size: 7.1rem;
  font-family: Monoton;
  padding-top: 11.85rem;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.jumbotron p {
  width: 51.3rem;
  margin: auto;
}
